body {
  font-family: Arial, sans-serif;
  margin: 0;
  /* Choose a green background color you like */
  background-color: #58c65c;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center; /* Center the heading horizontally */
}

.members {
  background-color: #fff; /* White background */
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 20px;
}

.members h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.members ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.members li {
  margin-bottom: 10px;
}

.members li a {
  color: #333; /* Adjust text color as needed */
  text-decoration: none;
}

.members li a:hover {
  color: #5FB971; /* Adjust hover color as needed */
}

/* Add more styles based on your preferences */

